#microPhn{
  
  font-size: 150px;
  margin-top: 100px;
  color: lightpink;
  
}
a{
  text-decoration: none;
}
#foot{
  font-size: 15px;
}

#yn{
  
  font-size: 22px;
}
#fn{
  
  font-size: 24px;
}
#wn{
  
  font-size: 22px;
}
#gn{
  
  font-size: 22px;
}

input{
  
  display: none;
}




hr{
  color: lightpink;
}

@media (max-width: 720px){
  h1{
    font-size: 20px;
  }
  #microPhn{
    font-size: 110px;
    margin-top: 250px;
  }
}
